.appNavbar{
    height: 80px;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
}

.container-navbar{
    position: relative;
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    .profile{
        border-radius: 99%;
    }

    .text-profile{
        // border: solid;
        line-height: normal;
        font-size: 14px;
        font-weight: 500;
    }
    .text-desc{
        font-weight: 400;
        font-size: 14px;
    }
    .brand{
        font-size: medium;
    }
}